@model IEnumerable<CustomerViewModels>

@{
    ViewBag.Title = "Customer";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customerssss</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatDate)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.BDel)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
        
            @*<th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>*@

    
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BDel)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
     
            @*<td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.WeiChat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QQ)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Blog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
